.DS_Store
public
resources
.idea
content/.obsidian
content/journal
content/fleeting
content/Matter
content/zotero
content/templates
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
